<footer>
  <div class="container">
    <div class="row">
      {% if informations %}
      <div class="col-sm-3">
        <h5>{{ text_information }}</h5>
        <ul class="list-unstyled">
         {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
      <div class="col-sm-3">
        <h5>{{ text_service }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
          <li><a href="{{ return }}">{{ text_return }}</a></li>
          <li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_extra }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>
          <li><a href="{{ voucher }}">{{ text_voucher }}</a></li>
          <li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>
          <li><a href="{{ special }}">{{ text_special }}</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>{{ text_account }}</h5>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4"><p>{{ powered }}</p></div>
        <div class="col-md-4 text-center">
            <div id="topcontrol" title="Scroll Back to Top" style="position: fixed; bottom: 5px; right: 600px; opacity: 1; cursor: pointer;">
                <img src="https://www.bitstore.com.br/image/up.png" style="width:51px; height:42px">
            </div>  
        </div>
        <div class="col-md-4 text-right">Desenvolvido por <a href="https://www.bitstore.com.br">
			<img src="https://www.bitstore.com.br/image/logo-bitstore-footer.svg" class="img-fluid" alt="Responsive image"></a>
			<!--=== Whatsapp ===-->
				<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"-->
				<link rel="stylesheet" href="<?php echo URL; ?>/css/whatsapp/whatsapp.css">
				<a href="https://wa.me/5544998180590?text=Cliente entrando em contato com a www.bitstore.com.br !" style="position:fixed;width:40px;height:40px;bottom:10px;left:10px;background-color:#25d366;color:#FFF;text-align:center;font-size:30px;box-shadow: 1px 1px 2px #888;
				   z-index:1000;" target="_blank">
					<i style="font-size: 90%; padding: 15%;" class="fa fa-whatsapp"></i>
				</a>
			<!--=== End Whatsapp ===-->
		</div>
    </div>  
  </div>
</footer>
        
<script type="text/javascript" src="catalog/view/javascript/back-to-top.js"></script>  

{% for script in scripts %}
<script src="{{ script }}" type="text/javascript"></script>
{% endfor %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</body>
</html>